body {
    margin: 0;
    padding: 0;
    background-color:salmon;
}

html, body, .container {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    }

.loader {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
}

 
.movies {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 50px;
    width: 30%;
} 


.movies movie {
    width: 30%;
    background-color: rgb(253, 241, 239);
}
